### Visual Studio Code

*.code-workspace
**/.vscode/

### Environment

.env
.env.*
!.env.example

### CodeWhale

**/.codewhale/*
!**/.codewhale/constitution.json
.deepseek/

### Temporary test files & Logs

temp/

**/[Ll][Oo][Gg]/
**/*.[Ll][Oo][Gg]
**/*.[Ll][Oo][Gg].*

### Third-party dependencies

server/third_party/

### TODO LIST

**/[Tt][Oo][Dd][Oo].*
